html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: 0;
  color: gray;
  padding: 10px;
  text-align: justify;
  font-size: 10px;
  margin: 0;
  transition: 0.3s;
  display: inline-block;
  cursor: pointer;
}

button:hover {
  color: white;
}

.Header {
  display: flex;
  justify-content: space-between;
}

.BoardPageContainer {
  border: 2px solid white;
  display: flex;
  justify-content: space-around;
  border-radius: 4px;
}
.categories {
  border: 2px solid white;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.individualTask {
  border: 2px solid white;
  font-size: 14px;
  width: 300px;
  border-radius: 4px;
  padding: 10px;
}

.gitLogo {
  height: 75px;
}

#imgWrap {
  position: relative;
  height: 100%;
  width: 100%;
}

.gitLogo,
#imgWrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.loginWithP {
  text-align: center;
  margin: 0;
  margin-top: 310px;
}
