button {
  background: none;
  border: 0;
  color: gray;
  padding: 10px;
  text-align: justify;
  font-size: 10px;
  margin: 0;
  transition: 0.3s;
  display: inline-block;
  cursor: pointer;
}

button:hover {
  color: white;
}

.BoardPageContainer {
  border: 2px solid white;
  display: flex;
  justify-content: space-around;
}

.individualTask {
  border: 2px solid white;
  font-size: 14px;
  width: 225px;
  height: 100px;
}

.Header {
  display: flex;
  justify-content: space-between;
}
