html, body{
  height: 100%;
  margin:0;
  padding:0;
}

button {
  background: none;
  border: 0;
  color: gray;
  padding: 10px;
  text-align: justify;
  font-size: 10px;
  margin: 0;
  transition: 0.3s;
  display: inline-block;
  cursor: pointer;
}

button:hover {
  color: white;
}

.BoardPageContainer {
  border: 2px solid white;
  display: flex;
  justify-content: space-around;
}

.individualTask {
  border: 2px solid white;
  font-size: 14px;
  width: 225px;
  height: 100px;
}

.Header {
  display: flex;
  justify-content: space-between;
}

.gitLogo{
  height: 75px;
}

#imgWrap{
  position: relative;
  height: 100%;
  width: 100%;
}

.gitLogo, #imgWrap {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
}

.loginWithP{
  text-align: center;
  margin: 0;
  margin-top: 310px;
}